body {
  background-color: #000055;
  color: #ffffff;
}

.ContentTable {
  background-color: #555555;
  color: #999999;
}

.log {
  background-color: #222222;
}

#ContentTable {
  background-color: #225522;
}

#version_text {
  background-color: #225522;
}

