body {
  background-color: #ffffff;
  color: #000000;
}

.ContentTable {
  background-color: #555555;
  color: #999999;
}

.log {
  background-color: #222222;
  color: #ffffff;
}

#ContentTable {
  background-color: #225522;
  color: #ffffff;
}

